*{
    box-sizing: border-box;
}

html, body{
    width:100%;
    height:100%;
}

body{
    text-align: center !important;
    padding-bottom: 10%;
}

h2, ul, ol{
    text-align: left;
    font-size: 16px;
}

.unordered-list li:nth-child(1),
.unordered-list li:nth-child(2),
.unordered-list li:nth-child(3){
    list-style-type:none ;
    color: blue;
}

.unordered-list li:nth-child(4),
.unordered-list li:nth-child(5),
.unordered-list li:nth-child(6){
    list-style-type:disc ;
    list-style-position:inside;
    color:#ff0000
}

.unordered-list li:nth-child(7),
.unordered-list li:nth-child(8),
.unordered-list li:nth-child(9){
    list-style-type:square ;
    list-style-position:outside;
    color:hsl(104, 100%, 50%)
}

.unordered-list li:nth-child(10),
.unordered-list li:nth-child(11),
.unordered-list li:nth-child(12){
    list-style-type:circle ;
    list-style-position:inside;
    color:hsla(180, 100%, 50%, 0.925)
}

.ordered-list li:nth-child(1),
.ordered-list li:nth-child(2),
.ordered-list li:nth-child(3){
    list-style-type:decimal ;
    color: hwb(53 15% 7%);
}

.ordered-list li:nth-child(4),
.ordered-list li:nth-child(5),
.ordered-list li:nth-child(6){
    list-style-type:lower-alpha ;
    color: hwb(127 15% 7% / 0.892);
}

.ordered-list li:nth-child(7),
.ordered-list li:nth-child(8),
.ordered-list li:nth-child(9){
    list-style-type:upper-alpha ;
    color: rgb(237, 38, 210);
}

.ordered-list li:nth-child(10),
.ordered-list li:nth-child(11),
.ordered-list li:nth-child(12){
    list-style-type:lower-roman ;
    color: rgba(237, 190, 38, 0.892);
}

.ordered-list li:nth-child(13),
.ordered-list li:nth-child(14),
.ordered-list li:nth-child(15){
    list-style-type:upper-roman ;
    color: #060606e3;
}

.unordered-list-image > li{
    list-style-type:square ; /*shown if the image cannot be loaded*/
    list-style-image: url("list_bullet.png") ;
}

/*Flexible Box Layout or Flexbox*/
/*A way to arrange (lay out) page components*/
.div-nbr1,
.div-nbr2{
    border: 1px solid #000000; 
    background-color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-nbr1{
    display: flex; /*Activate Flexbox*/
}

.div-nbr2{
    display: inline-flex; /*Activate Flexbox*/
}

.div-nbr1 > h3,
.div-nbr1 > p,
.div-nbr1 > span,
.div-nbr2 > h3,
.div-nbr2 > p,
.div-nbr2 > span{
    border: 4px solid #000000; 
}

nav {
    display: inline-flex;
}

a {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px 5px 0 0;
    background-color: #009bdd;
    text-shadow: ;
    color: #040404;
}

div.main1 {
    width: 50%;
    height: 600px;
    padding: 0;
    margin: 30px auto 30px auto;
    border: 2px solid #070707;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content :flex-start;

}

div.main1 div {
    background-color: #000000;
    border-top: 6px solid #ff0000;
    border-bottom: 6px solid #ff0000;
    border-right: 6px solid #0fb500;
    border-left: 6px solid #0fb500;
    color: #fff;
    font-weight: bold;
    padding: .5em;
    margin: .5em;
    height: 100px;
}

div.main2 {
    width: 50%;
    padding: 0;
    margin: 30px auto 30px auto;
    border: 2px solid #070707;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    

}

div.main2 div {
    background-color: #000000;
    border-top: 6px solid #ff0000;
    border-bottom: 6px solid #ff0000;
    border-right: 6px solid #0fb500;
    border-left: 6px solid #0fb500;
    color: #fff;
    font-weight: bold;
    padding: .5em;
    margin: .5em;
}



.vertical-flex {
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
    flex: 0 0 35px;
    border: 1px solid #000000;
    margin: 1% 1% 1% 1%;
}

footer {
    order: 3;
}

article {

    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #000000;
    margin: 1% 1% 1% 1%;
    
}

#section {
    width:70%;
    border: 1px solid #000000; 
    margin: 1% 1% 1% 1%;
    /*float: left;*/
}

#sidebar{
    width:25%;
    border: 1px solid #000000; 
    margin: 1% 1% 1% 1%;
    /*float: right;*/
    flex-direction: column;
}

#section1,
#section2 {
    border: 1px solid #000000; 
    margin: 1% 1% 1% 1%;
}
